
body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 3em;
    font-family: "Lucida Console", Courier, monospace;
    background-color: rgb(135,206,250);
    text-align: center;
    padding: 1.5%;
    margin: 0%;
}

/* main page selectors */
.menu-container {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
.menu-title {
    font-size: 200%;
    margin-bottom: 10px;
}

.menu-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.menu-container li {
    list-style: none;
}

.menu-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.menu-button:hover {
    background-color:#49ca4e; ;
}

.map-container {
    height: 400px;
    border: 1px solid #ccc;
}

/* map selectors */
#map {
    width: 100%;
    float: left;
}

.legend {
    padding: 6px 8px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 3px;
}

#target {
    text-align: center;
    font-size: 300%;
    padding: 0%;
    margin: 0%;
}

.legend button {
    border: none;
    text-align: center;
}
    
