/* Reset default styles */
body, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the navigation */
  nav {
    background-color: #333;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start; /* Align links to the left */
    padding: 10px;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 20px; /* Increase font size for the navigation links */
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #555;
    color: #fff;
  }
  
  /* Style the active link */
  nav ul li a.active {
    background-color: #555;
  }

h1 {
    text-align: center;
    margin: 1%;
    padding: 30px;
}

h1.big {
  font-size: 300%;
}

p {
  text-align: center;
}

a {
  color: #5392c5;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: #1162a4;
}


.horizontal-line {
  display: inline-block;
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}



.container-item {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  background-color: #e7e7e7;
}

.container-item h3 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}



input[type="button"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input[type="button"]:hover {
  background-color: #0062cc;
}



/* map selectors */
#map {
  width: 100%;
  height: 100%;
  float: left;
}

.map-container {
  height: 400px;
  border: 1px solid #ccc;
}

html, body {
  height: 100%;
  width: 100%;
} 

.legend {
  padding: 6px 8px;
  font-size: 125%;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
}

#target {
  text-align: center;
  font-size: 300%;
  padding: 0%;
  margin: 0%;
}